/* Impostazioni generali per il body */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #070c32;
    overflow: hidden; /* Evita lo scroll se l'immagine è più grande della vista */
}

/* Stile per il contenitore dell'immagine di sfondo */

#map-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

#game-map {
    width: 100%;
    height: auto;
    opacity: 0;
    animation: fadeIn 3s forwards; /* Applicazione dell'animazione */
}

.map-hotspot {
    position: absolute;
    cursor: pointer;
    border: 2px solid transparent; /* Solo per scopi di debug, rimuovere in produzione */
}


/* Definizione dell'animazione di dissolvenza */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.hotspot-1 { top: 79%; left: 20%; width: 70%; height: 13%; }
